.footer{
    background-color: #000;
    color: #fff;
    padding: 3rem;
    /* display: flex;
    justify-content: space-between; */
}

.container{
    display: flex;
    justify-content: space-around;
}

.footer_details h1{
    font-style: 45px;
}

.footer_details p{
    max-width: 400px;
    font-size: 20px;
}

.footer_links ul{
    line-height: 3rem;
    font-style: 20px;
}

.footer_socials{
    line-height: 2rem;
}

.footer_socials .icons{
    display: flex;
    gap: 1rem;
}

.footer_socials .footer_icon{
    font-size: 32px;
}

.footer_links h2, .footer_socials h2{
    margin-top: 50px;
}